:root {
  --main-fonts: Montserrat, sans-serif;
  --secondary-fonts: Seymour One, sans-serif;
  --secondary-fonts-roboto: Roboto, sans-serif;

  --primary-text-color: #131313;
  --secondary-text-color: #fcfcfc;
  --bac-color-green: #84a178;
  --green-color-btn: #0a8817;
  --btn-color: #f8d24e;
  --gray-color: #7a7a7a;
  --slider-dot-color: #d9d9d9;
  --ice__cream: #96af8c;
  --ice__coffee: #efd478;
  --milkshake: #d6936d;
}
