.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
<<<<<<< HEAD:src/sass/base/utils/_visually-hidden.scss
=======

>>>>>>> main:src/sass/utils/_visually-hidden.scss
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
