<section class="about">
    <div class="container about__wrap">
        <label  class="about__label" for="#">TRADITIONAL AND LOVE</label>
        <h2 class="about__title">HOW IT`S MADE?</h2>
        <picture class="about__image">
            <source media="(min-width:1200px)"
            srcset="#"/>
            <source media="(min-width:768px)"
            srcset="#"/>
            <source media="(max-width:767px)" 
            srcset="#"/>
            <img src="#" alt="cow">
        </picture>
        <p class="about__description">Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and
        we follow it when creating our handmade desserts.
        <br>We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children
        from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes.
        <br>This is enough to choose ice cream and
        coffee for any mood!</p>
        <button class="about__button" type="button">Read more</button>
    </div>
</section>