<section class="advantages">
  <div class="conteiner">
    <h2>advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <svg class="advantages__icon" width="" height="">
          <use href=""></use>
        </svg>
        <h3 class="advantages_title"></h3>
        <p class="advantages__text"></p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon" width="" height="">
          <use href=""></use>
        </svg>
        <h3 class="advantages_title"></h3>
        <p class="advantages__text"></p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon" width="" height="">
          <use href=""></use>
        </svg>
        <h3 class="advantages_title"></h3>
        <p class="advantages__text"></p>
      </li>
    </ul>
  </div>
</section>
