<section class="contact">
  <div class="container card-set">
    <ul class="card__list">
      <li class="card__item">
        <p class="card__name">CAFE</p>
        <p class="card__locations">Chicago</p>
        <a
          class="card__link"
          href="https://goo.gl/maps/s4BCak2DKcbUJRTo6"
          target="_blank"
          rel="noopener noreferrer"
        >
          10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >

        <ul class="schedule">
          <li class="schedule__day">Monday - Friday</li>
          <li class="schedule__day">06:00 AM - 10:00 PM</li>
          <li class="schedule__day">Saturday - Sunday</li>
          <li class="schedule__day">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="tel-mail__list">
          <li class="tel-mail__item">
            <a class="tel-mail__link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="tel-mail__item">
            <a class="tel-mail__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="card__item">
        <p class="card__name">CAFE</p>
        <p class="card__locations">Chicago</p>
        <a
          class="card__link"
          href="https://goo.gl/maps/s4BCak2DKcbUJRTo6"
          target="_blank"
          rel="noopener noreferrer"
        >
          10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >

        <ul class="schedule">
          <li class="schedule__day">Monday - Friday</li>
          <li class="schedule__day">06:00 AM - 10:00 PM</li>
          <li class="schedule__day">Saturday - Sunday</li>
          <li class="schedule__day">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="tel-mail__list">
          <li class="tel-mail__item">
            <a class="tel-mail__link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="tel-mail__item">
            <a class="tel-mail__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="card__item">
        <p class="card__name">CAFE</p>
        <p class="card__locations">Chicago</p>
        <a
          class="card__link"
          href="https://goo.gl/maps/s4BCak2DKcbUJRTo6"
          target="_blank"
          rel="noopener noreferrer"
        >
          10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >

        <ul class="schedule">
          <li class="schedule__day">Monday - Friday</li>
          <li class="schedule__day">06:00 AM - 10:00 PM</li>
          <li class="schedule__day">Saturday - Sunday</li>
          <li class="schedule__day">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="tel-mail__list">
          <li class="tel-mail__item">
            <a class="tel-mail__link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="tel-mail__item">
            <a class="tel-mail__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <ul class="buttom__list">
      <li class="buttom__list">
        <button class="buttom__first">
          Our Locations
          <svg class="buttom__icon" width="12" height="12">
            <use href="#"></use>
          </svg>
        </button>
      </li>
      <li class="buttom__list">
        <button class="buttom__second">
          Franchise
          <svg class="buttom__icon" width="12" height="12">
            <use href="#"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
