<section class="contacts">
  <h2 class="visually-hidden">Contacts</h2>

  <div class="container contacts-set">
    <ul class="contacts-set__list">
      <li class="contacts-set__item">
        <p class="contacts-set__name">CAFE</p>

        <ul class="location">
          <li class="location__name">Chicago</li>
          <li class="location__place">
            <a
              class="location__link"
              href="https://goo.gl/maps/LR8v3sw7iDPcD9rn8"
              target="_blank"
              rel="noopener noreferrer"
            >
              10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </li>
        </ul>

        <ul class="schedule">
          <li class="schedule__work">Monday - Friday</li>
          <li class="schedule__work">06:00 AM - 10:00 PM</li>
          <li class="schedule__work">Saturday - Sunday</li>
          <li class="schedule__work">08:00 AM - 16:00 PM</li>
        </ul>

        <ul class="contacts-list">
          <li class="contacts-list__item">
            <a class="contacts-list__link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts-list__item">
            <a class="contacts-list__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-set__item">
        <p class="contacts-set__name">FOODTRUCK</p>

        <ul class="location">
          <li class="location__name">Los Angeles</li>
          <li class="location__place">
            <a
              class="location__link"
              href="https://goo.gl/maps/QyEKSB7Mg3wJ2ad47"
              target="_blank"
              rel="noopener noreferrer"
            >
              1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
            >
          </li>
        </ul>

        <ul class="schedule">
          <li class="schedule__work">Monday - Friday</li>
          <li class="schedule__work">06:00 AM - 10:00 PM</li>
          <li class="schedule__work">Saturday - Sunday</li>
          <li class="schedule__work">08:00 AM - 16:00 PM</li>
        </ul>

        <ul class="contacts-list">
          <li class="contacts-list__item">
            <a class="contacts-list__link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts-list__item">
            <a class="contacts-list__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-set__item">
        <p class="contacts-set__name">CAFE</p>

        <ul class="location">
          <li class="location__name">New York</li>
          <li class="location__place">
            <a
              class="location__link"
              href="https://goo.gl/maps/ibaaJJnRY1CTYUen7"
              target="_blank"
              rel="noopener noreferrer"
            >
              726 Sterling Pl, Brooklyn, NY 11222, USA</a
            >
          </li>
        </ul>

        <ul class="schedule">
          <li class="schedule__work">Monday - Friday</li>
          <li class="schedule__work">06:00 AM - 10:00 PM</li>
          <li class="schedule__work">Saturday - Sunday</li>
          <li class="schedule__work">08:00 AM - 16:00 PM</li>
        </ul>

        <ul class="contacts-list">
          <li class="contacts-list__item">
            <a class="contacts-list__link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts-list__item">
            <a class="contacts-list__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>

    <ul class="contacts-button__list">
      <li class="contacts-button__item">
        <button class="contacts-button__left contacts-button" type="button">
          <span class="contacts-button__desc">Our Locations</span>
          <svg class="contacts-button__icon" width="12" height="12">
            <use href="./images/icons.svg#contacts-button"></use>
          </svg>
        </button>
      </li>
      <li class="contacts-button__item">
        <button
          disabled="disabled"
          class="contacts-button__right contacts-button"
          type="button"
        >
          <span class="contacts-button__desc">Franchise</span>
          <svg class="contacts-button__icon" width="12" height="12">
            <use href="./images/icons.svg#contacts-button"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
