<section class="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">Customer reviews</h2>
    <!-- slider -->
    <ul class="slider">
      <li class="slider__item">
        <div class="slider__wrap">
          <img
            src="./images/customer-reviews/img-1_@1x.jpg"
            srcset="
              ./images/customer-reviews/img-1_@1x.jpg 1x,
              ./images/customer-reviews/img-1_@2x.jpg 2x
            "
            alt="Bryan"
            loading="lazy"
          />
        </div>
        <p class="slider__desc">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <p class="slider__title">Bryan, New-York</p>
      </li>
      <li class="slider__item">
        <div class="slider__wrap">
          <img
            src="./images/customer-reviews/img-2_@1x.jpg"
            srcset="
              ./images/customer-reviews/img-2_@1x.jpg 1x,
              ./images/customer-reviews/img-2_@2x.jpg 2x
            "
            alt="Diana"
            loading="lazy"
          />
        </div>
        <p class="slider__desc">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <p class="slider__title">Diana, Chicago</p>
      </li>
      <li class="slider__item">
        <div class="slider__wrap">
          <img
            src="./images/customer-reviews/img-3_@1x.jpg"
            srcset="
              ./images/customer-reviews/img-3_@1x.jpg 1x,
              ./images/customer-reviews/img-3_@2x.jpg 2x
            "
            alt="Sam"
            loading="lazy"
          />
        </div>
        <p class="slider__desc">
          I love eating popsicles on a hot day. Yours is always delicious. I
          recommend your cafe to everyone I know.
        </p>
        <p class="slider__title">Sam, Los Angeles</p>
      </li>
      <li class="slider__item">
        <div class="slider__wrap">
          <img
            src="./images/customer-reviews/img-4_@1x.jpg"
            srcset="
              ./images/customer-reviews/img-4_@1x.jpg 1x,
              ./images/customer-reviews/img-4_@2x.jpg 2x
            "
            alt="Emily"
            loading="lazy"
          />
        </div>
        <p class="slider__desc">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="slider__title">Emily, Los Angeles</p>
      </li>
    </ul>
  </div>
</section>
