<footer class="footer">
  <div class="container footer__all">
    <div class="footer__fourpc">
      <div class="footer__box-second">
        <p class="footer__text-first">homemade ice cream made</p>

        <p class="footer__text-second">with passion</p>
      </div>
      <div class="footer__social">
        <ul class="social__list">
          <li class="social__item">
            <a
              class="#"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="#"
            >
              <svg class="social__icon" width="32" height="32">
                <use href="./images/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a
              class="#"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label=""
            >
              <svg class="social__icon" width="32" height="32">
                <use href="./images/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              class="#"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="#"
            >
              <svg class="social__icon" width="32" height="32">
                <use href="./images/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>

        <a class="footer__number" href="tel:+610383766284"
          ><span class="footer__num-text">Feel free to contact &nbsp;</span> +61
          (0) 383 766 284</a
        >
      </div>
    </div>
    <div class="footer__box">
      <p class="footer__text-lower">
        &#169; 2022 - IceCream.All Rights Reserved.
      </p>
    </div>
  </div>
</footer>
