<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery ice cream</h2>
    <ul class="gallery__list slick">
      <li class="gallery__item">
        <div class="gallery__img">
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/img1__lg-@1x.jpg 1x,
                ./images/gallery/img1__lg-@2x.jpg 2x
              "
              type="image/jpg"
            />
            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/img1__md-@1x.jpg 1x,
                ./images/gallery/img1__md-@2x.jpg 2x
              "
              type="image/jpg"
            />
            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/img1__sm-@1x.jpg 1x,
                ./images/gallery/img1__sm-@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="img"
              src="./images/gallery/img1__sm-@1x.jpg"
              alt="Ice cream"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__img">
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/img2__lg-@1x.jpg 1x,
                ./images/gallery/img2__lg-@2x.jpg 2x
              "
              type="image/jpg"
            />
            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/img2__md-@1x.jpg 1x,
                ./images/gallery/img2__md-@2x.jpg 2x
              "
              type="image/jpg"
            />
            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/img2__sm-@1x.jpg 1x,
                ./images/gallery/img2__sm-@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="img"
              src="./images/gallery/img2__sm-@1x.jpg"
              alt="Ice cream"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="gallery__item">
        <div class="gallery__img">
          <picture>
            <!-- Desktop screen -->
            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/gallery/img3__lg-@1x.jpg 1x,
                ./images/gallery/img3__lg-@2x.jpg 2x
              "
              type="image/jpg"
            />
            <!-- Tablet screen -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/gallery/img3__md-@1x.jpg 1x,
                ./images/gallery/img3__md-@2x.jpg 2x
              "
              type="image/jpg"
            />
            <!-- Mobile screen -->
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/gallery/img3__sm-@1x.jpg 1x,
                ./images/gallery/img3__sm-@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              class="img"
              src="./images/gallery/img3__sm-@1x.jpg"
              alt="Ice cream"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
