<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery ice cream</h2>
    <ul class="gallery__list slick">
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/img1__sm-@1x.jpg,
            ./images/gallery/img1__sm-@2x.jpg,
            ./images/gallery/img1__lg-@1x.jpg,
            ./images/gallery/img1__lg-@2x.jpg
          "
          src="./images/gallery/img1__sm-@1x.jpg"
          alt="Ice cream"
          width="279"
          height="130"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/img2__sm-@1x.jpg,
            ./images/gallery/img2__sm-@2x.jpg,
            ./images/gallery/img2__lg-@1x.jpg,
            ./images/gallery/img2__lg-@2x.jpg
          "
          src="./images/gallery/img2__sm-@1x.jpg"
          alt="Ice cream"
          width="279"
          height="130"
        />
      </li>
      <li class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/img3__sm-@1x.jpg,
            ./images/gallery/img3__sm-@2x.jpg,
            ./images/gallery/img3__lg-@1x.jpg,
            ./images/gallery/img3__lg-@2x.jpg
          "
          src="./images/gallery/img3__sm-@1x.jpg"
          alt="Ice cream"
          width="279"
          height="130"
        />
      </li>
    </ul>
  </div>
</section>
