<section class="gallery">
  <h2 class="visually-hidden">Gallery ice cream</h2>
  <ul class="gallery__list">
    <li class="gallery__item">
      <!-- <img
        class="gallery__img"
        srcset="
          ../images/gallery/gallery1-279.jpg   279w,
          ../images/gallery/gallery1-558.jpg   558w,
          ../images/gallery/gallery1-704.jpg   704w,
          ../images/gallery/gallery1-1013.jpg 1013w,
          ../images/gallery/gallery1-1408.jpg 1408w,
          ../images/gallery/gallery1-2026.jpg 2026w
        "
        src="../images/gallery/gallery1-279.jpg"
        sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 480px) 279px, 100vw"
        alt="Ice cream"
        width="279"
        height="130"
      /> -->
    </li>
    <li class="gallery__item">
      <!-- <img
        class="gallery__img"
        srcset="
          ../images/gallery/gallery1-279.jpg   279w,
          ../images/gallery/gallery1-558.jpg   558w,
          ../images/gallery/gallery1-704.jpg   704w,
          ../images/gallery/gallery1-1013.jpg 1013w,
          ../images/gallery/gallery1-1408.jpg 1408w,
          ../images/gallery/gallery1-2026.jpg 2026w
        "
        src="../images/gallery/gallery1-279.jpg"
        sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 480px) 279px, 100vw"
        alt="Ice cream"
        width="279"
        height="130"
      /> -->
    </li>
    <li class="gallery__item">
      <!-- <img
        class="gallery__img"
        srcset="
          ../images/gallery/gallery1-279.jpg   279w,
          ../images/gallery/gallery1-558.jpg   558w,
          ../images/gallery/gallery1-704.jpg   704w,
          ../images/gallery/gallery1-1013.jpg 1013w,
          ../images/gallery/gallery1-1408.jpg 1408w,
          ../images/gallery/gallery1-2026.jpg 2026w
        "
        src="../images/gallery/gallery1-279.jpg"
        sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 480px) 279px, 100vw"
        alt="Ice cream"
        width="279"
        height="130"
      /> -->
    </li>
  </ul>
</section>
