<header class="header"> 
<div class="container header-container">
<a class="logo" href="/">
    <svg class="logo-img" width="60" height="65" >
        <use class="logo-desc" href="./images/icons.svg#logo-desc"></use>
            <use class="logo-tab" href="./images/icons.svg#logo-tab"></use>
                <use class="logo-mobile" href="./images/icons.svg#logo-mobile">
        </use>
    </svg>
    </a>
        <nav class="nav hidden-nav">
          <ul class="main-list">
            <li class="list-item">
              <a class="nav-link"
               href="/"
                >Home</a>
            </li>
            <li class="list-item">
              <a class="nav-link"
               href="#about"
                >How it’s made?</a>
            </li>
            <li class="list-item">
              <a class="nav-link"
               href="#products"
                >Our products</a>
            </li>
            <li class="list-item">
              <a class="nav-link"
               href="#contacts"
                >Contact</a>
            </li>
        </ul>
        </nav> 
         <div class="btns">
            <button
          class="menu-btn js-open-menu hidden-burg"
          type="button"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg width="32" height="32">
            <use href="./images/icons.svg#burger"></use>
          </svg>
        </button>
        <button type="button" class="button-header hidden-nav-btn js-open-modal" data-modal="modal_buy_now"> <span class="btn-text">Buy now</span> 
          <svg class="btn-icon" width="12" height="12">
            <use href="./images/icons.svg#contacts-button"></use></svg> </button>
   </div>
      </div>
    </header>
    <main>
    </div>
</header>