<!-- MOBILE MENU -->
    <div class="menu-container js-menu-container" id="mobile-menu">
      <a class="" href="/">
    <svg class="menu-logo-img" width="60" height="65" >
    <use class="menu-logo-mobile" href="./images/icons.svg#logo-mobile">
        </use>
    </svg>
    </a>
    <button class="menu-toggle js-close-menu close-menu">
        <svg class="close-menu__btn" width="32" height="32">
          <use href="./images/icons.svg#menu-close"></use>
        </svg>
      </button>

      <ul class="mobile-menu-nav">
            <li class="list-item">
              <a class="nav-link"
               href="/"
                >Home</a>
            </li>
            <li class="list-item">
              <a class="nav-link"
               href="#about"
                >How it’s made?</a>
            </li>
            <li class="list-item">
              <a class="nav-link"
               href="#products"
                >Our products</a>
            </li>
            <li class="list-item">
              <a class="nav-link"
               href="#contacts"
                >Contact</a>
            </li>
        </ul>
        <button type="button" class="button-header btn-mobile js-open-modal" data-modal="modal_buy_now"> <span class="btn-text">Buy now</span>
        <svg class="btn_icon" width="12" height="12">
            <use href="./images/icons.svg#contacts-button"></use></svg>
        </button>
    </div>