<!-- Модальні вікна.  -->
<!-- Кожен повинен вставити
    відповідну розмітку для своєї секціїї. В кінці модального вікна ставиться
    Бекдроп (див. в кінці цієї розмітки). Модальне вікно зачиняється окрім
    кнопки закриття ще клавішею Esc і кліком мишки по Бекдропу за межами
    модального вікна. Стилізація модальних вікон в components/modals.scss-->
<!-- ---------------------------------------------------- -->

<!-- Елементи для виклику модальних вікон: посилання чи кнопка. У кожного елемента має бути клас "js-open-modal" і атрибут data-modal="hero-modal"(тут ставиться унікальна назва, наприклад, hero-modal, products-modal і т.д.). Клас open-modal для стилізації кнопок, може бути свій інший. -->

<!-- Відкриття модалки секції Hero -->
<!-- <a href="#" class="open-modal js-open-modal" data-modal="hero">Buy now</a> -->

<!-- Розмітка модальних вікон, ставиться в кінці вашої секції. Клас "modal" використовується для стилізації модального вікна в SASS. Атрибут data-modal="hero" має таку ж назву, як і кнопка його визову -->

<!-- Модалка секції Hero -->
<div class="modal modal--other-paddings-54" data-modal="hero">
  <svg class="modal__cross js-modal-close">
    <use href="./images/icons.svg#modal-close"></use>
  </svg>

<!-- Далі йде розмітка вашого модального вікна -->
<form class="reg-form" name="reg-form" autocomplete="off">
    <strong class="strong__title"> Buy now</strong>
    <ul class="products">
      <li class="products__list ice__cream">
        <label>
          <img
            class="products__img"
            srcset="
              ./images/modal_buy_now/img1__@x1.png 1x,
              ./images/modal_buy_now/img1__@2x.png 2x
            "
            src="./images/modal_buy_now/img1__@x1.png"
            alt=" ice cream"
          />

          <span class="products__name">ice cream</span>
        </label>
      </li>
      <li class="products__list ice__coffee">
        <img
          class="products__img"
          srcset="
            ./images/modal_buy_now/img2__@x1.png 1x,
            ./images/modal_buy_now/img2__@2x.png 2x
          "
          src="./images/modal_buy_now/img2__@x1.png"
          alt=" ice coffee"
        />
        <span class="products__name">ice coffee</span>
      </li>
      <li class="products__list milkshake">
        <img
          class="products__img"
          srcset="
            ./images/modal_buy_now/img3__@x1.png 1x,
            ./images/modal_buy_now/img3__@2x.png 2x
          "
          src="./images/modal_buy_now/img3__@x1.png"
          alt=" milkshake"
        />
        <span class="products__name">milkshake</span>
      </li>
    </ul>
    <ul class="input__by_now">
      <li class="input__products">
        <input
          type="text"
          class="input__modal"
          name="name "
          id="name"
          placeholder="Name"
        />
      </li>
      <li class="input__products">
        <input
          type="text"
          class="input__modal"
          name="phone "
          id="phone"
          placeholder="Phone"
        />
      </li>
      <li class="textarea__products">
        <label for="comment"> </label>
        <textarea
          class="textarea__modal"
          name="comment "
          id="comment"
          placeholder="Comment"
        ></textarea>
      </li>
    </ul>

    <div>
      <button class="btn__about__mod" type="submit">Submit</button>
    </div>
  </form>
</div>

<!--Модалка секції Products -->   
  <div class="modal ingr-modal" data-modal="products">

    <svg class="modal__cross js-modal-close">
    <use href="./images/icons.svg#modal-close"></use>
  </svg>
    <h2 class="form__header ingr-form__header">Chololate icecream</h2>
    <div class="ingr-form__wrap">
      <div class="ingr-form__box">
        <img
          class="ingr-form__img"
          srcset="
            ./images/ingredients-modal/ingredientsmodal@1x.jpg 1x
            ./images/ingredients-modal/ingredientsmodal@2x.jpg 2x
          "
          src="./images/ingredients-modal/ingredientsmodal@1x.jpg"
          alt="three different ice creams"
        />
      </div>
    </div>
    <ul class="ingr-form__group">
      <li class="ingr-form__item">
        <div class="ingr-form__amount">320</div>
        kcal
      </li>
      <li class="ingr-form__item">
        <div class="ingr-form__amount">4g</div>
        Prote...
      </li>
      <li class="ingr-form__item">
        <div class="ingr-form__amount">8,2g</div>
        Fats
      </li>
      <li class="ingr-form__item">
        <div class="ingr-form__amount">40,4g</div>
        Carbs
      </li>
    </ul>
    <h3 class="ingr-form__subtitle">Ingredients</h3>
    <ul class="ingridients__names">
      <li class="ingridients__list">
        <span> Milk</span>
        <span>100ml</span>
      </li>
      <li class="ingridients__list">
        <span> Belgian chocolate</span>
        <span>20g</span>
      </li>
      <li class="ingridients__list">
        <span>Cream</span>
        <span>150 ml</span>
      </li>
      <li class="ingridients__list">
        <span>Cocoa powder</span>
        <span>30g</span>
      </li>
      <li class="ingridients__list">
        <span>Sugar</span>
        <span>40g</span>
      </li>
      <li class="ingridients__list">
        <span>Vanilla sugar</span>
        <span>10g</span>
      </li>
    </ul>
    <form class="form">
      <div class="form__field">
        <input
          class="form__input"
          type="text"
          id="ingr-1-name"
          name="user-name"
          placeholder="Alan Black"
          required
          pattern="^[a-zA-Z]+"
          title="Name must be only one word."
        />
        <label class="form__label-text" for="ingr-1-name">Name*</label>
      </div>

      <div class="form__field">
        <input
          class="form__input"
          type="tel"
          id="ingr-1-tel"
          name="phone-number"
          placeholder="+380-1111111111"
          required
          pattern="^(?=.*\d)(?!.*\s).*$"
          title="Must be only phone-number."
        />
        <label class="form__label-text" for="ingr-1-tel">Phone*</label>
      </div>

      <div class="form__field">
        <textarea
          class="form__textarea"
          name="coment"
          id="ingr-1-message"
          rows="2"
          placeholder="&#160;"
        ></textarea>
        <label
          class="form__label-text form__label-text--message"
          for="ingr-1-message"
          >Comment</label
        >
      </div>

      <button class="form__btn" type="submit" data-mobile-buy-open>
        Submit
      </button>
    </form>
  </div>
</div>





  <!-- Далі йде розмітка вашого модального вікна -->
  

<!-- Модалка секції About -->
<div class="modal about_modal" data-modal="about-modal">
  <svg class="modal__cross js-modal-close">
    <use href="./images/icons.svg#modal-close"></use>
  </svg>

  <!-- Далі йде розмітка вашого модального вікна -->
  <p class="modal__about-title">How it’s made?</p>

  <div class="modal_div_about-video">
    <iframe  class="modal__about-video"
    src="https://www.youtube.com/embed/hO-7cz7gyAY" 
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
  </iframe>
  </div>
  <p class="modal_about-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>

<!-- Модалки секції Contacts -->
<div class="modal" data-modal="location">
  <svg class="modal__cross js-modal-close">
    <use href="./images/icons.svg#modal-close"></use>
  </svg>

  <!-- Далі йде розмітка вашого модального вікна -->
  <p class="title-locations">Our Locations</p>

  <div class="modal__div-map">
    <iframe
      class="modal__map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.3059729384!2d-74.25986816097694!3d40.69714941285065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2snl!4v1666204667835!5m2!1sen!2snl"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    >
    </iframe>
  </div>
  <a
    class="map-button"
    href="https://goo.gl/maps/g2ZAgCt7o2hfLNEv7"
    target="_blank"
    rel="noopener noreferrer"
    >Open map</a
  >
</div>

<div class="modal" data-modal="franchise">
  <svg class="modal__cross js-modal-close">
    <use href="./images/icons.svg#modal-close"></use>
  </svg>

  <strong class="strong__title"
    >Thank you for your interest in owning an Ice Cream shop</strong
  >
  <p class="modal__desc">
    Due to the overwhelming volume of franchise requests we are not accepting
    new franchisee applications at this time. Once the application process
    resumes, we will contact you for further information. Please fill out the
    contact information below and we will reach out for additional information.
    We appreciate your patience.
  </p>

  <form>
    <!-- name -->
    <label class="input__products">
      <input
        class="input__modal"
        type="text"
        name="user"
        minlength="3"
        placeholder="Name"
        pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
        title="Username must be two words separated by space."
        required
      />
    </label>

    <!-- tell -->
    <label class="input__products">
      <input
        class="input__modal"
        type="tel"
        name="phone"
        minlength="12"
        maxlength="12"
        placeholder="Phone"
        pattern="^+380\d{3}\d{2}\d{2}\d{2}$"
        title="Example phone number: +38012345678"
        required
      />
    </label>

    <!-- mail -->
    <label class="input__products">
      <input
        class="input__modal"
        type="email"
        name="email"
        placeholder="Email"
        pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
        title="Example e-mail: mail@email.com"
        required
      />
    </label>

    <!-- coment -->
    <label class="textarea__products">
      <textarea
        class="textarea__modal"
        name="comment"
        cols="30"
        rows="10"
        placeholder="Comment"
      >
      </textarea>
    </label>
    <button class="btn__about__mod" type="submit">Submit</button>
  </form>
</div>

<!-- Модалкa Buy now -->
<div class="modal modal_buy_now" data-modal="modal_buy_now">
  <svg class="modal__cross js-modal-close">
    <use href="./images/icons.svg#modal-close"></use>
  </svg>

  <!-- Далі йде розмітка вашого модального вікна -->
  <form class="reg-form" name="reg-form" autocomplete="off">
    <strong class="strong__title"> Buy now</strong>
    <ul class="products">
      <li class="products__list ice__cream">
        <label>
          <input class="hidden" type="checkbox" />
          <img
            class="products__img"
            srcset="
              ./images/modal_buy_now/img1__@x1.png 1x,
              ./images/modal_buy_now/img1__@2x.png 2x
            "
            src="./images/modal_buy_now/img1__@x1.png"
            alt=" ice cream"
          />
          <span class="products__name">ice cream</span>
        </label>
      </li>
      <li class="products__list ice__coffee">
        <label>
          <input class="hidden" type="checkbox" />
          <img
            class="products__img"
            srcset="
              ./images/modal_buy_now/img2__@x1.png 1x,
              ./images/modal_buy_now/img2__@2x.png 2x
            "
            src="./images/modal_buy_now/img2__@x1.png"
            alt=" ice coffee"
          />
          <span class="products__name">ice coffee</span>
        </label>
      </li>
      <li class="products__list milkshake">
        <label>
          <input class="hidden" type="checkbox" />
          <img
            class="products__img"
            srcset="
              ./images/modal_buy_now/img3__@x1.png 1x,
              ./images/modal_buy_now/img3__@2x.png 2x
            "
            src="./images/modal_buy_now/img3__@x1.png"
            alt=" milkshake"
          />
          <span class="products__name">milkshake</span>
        </label>
      </li>
    </ul>
    <ul class="input__by__now">
      <li class="input__products">
        <input
          type="name"
          class="input__modal"
          name="name "
          id="name"
          placeholder="Name"
          
       minlength="4" maxlength="20" size="20"
       value=""
        />
      </li>
      <li class="input__products">
        <input
          type="tel"
          class="input__modal"
          name="phone "
          id="phone"
          rows="10"
          placeholder="067 123 1234"
          pattern="[0-9]{3} [0-9]{3} [0-9]{4}"
          minlength="0"
          maxlength="12"
          value=""
        />
      </li>
      <li class="textarea__products">
        <textarea
          class="textarea__modal"
          name="comment "
          id="comment"
          rows="10"
          placeholder="Comment"
        ></textarea>
      </li>
    </ul>

    <div>
      <button class="btn__about__mod" type="submit">Submit</button>
    </div>
  </form>
</div>
<!-- Бекдроп під модальним вікном -->
<div class="overlay js-overlay-modal"></div>
