<section class="section">
    <div class="container">
        <p class="section__desc">100% natural</p>
        <h2 class="section__title">products</h2>
        <ul class="products">
            <li class="products__item">
                <h3 class="products__title">ice cream</h3>
                <p class="products__desc">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural
                    stabilizer</p>
                <button class="products-button open-modal js-open-modal" data-modal="products" type="button" aria-label="icon-only button">
                    <svg class="products-button__icon" width="50" height="15">
                        <use  width="40" height="15" href="./images/icons.svg#icon-arrow-default"></use>
                        <use  width="50" height="15" href="./images/icons.svg#icon-arrow-hover"></use>
                        <use  width="50" height="15"href="./images/icons.svg#icon-arrow-focus"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item">
                <h3 class="products__title">ice coffee</h3>
                <p class="products__desc">Fragrant invigorating drink created from 100% natural ingredients without the
                    use of preservatives and flavor enhancers</p>
                <button class="products-button open-modal js-open-modal" data-modal="products" type="button" aria-label="icon-only button">
                    <svg class="products-button__icon" width="50" height="15">
                        <use  width="40" height="15" href="./images/icons.svg#icon-arrow-default"></use>
                        <use  width="50" height="15" href="./images/icons.svg#icon-arrow-hover"></use>
                        <use  width="50" height="15"href="./images/icons.svg#icon-arrow-focus"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item">
                <h3 class="products__title">milkshakes</h3>
                <p class="products__desc">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits,
                    berries and other sweets of your choice</p>
                <button class="products-button open-modal js-open-modal" data-modal="products" type="button" aria-label="icon-only button">
                    <svg class="products-button__icon" width="50" height="15">
                        <use  width="40" height="15" href="./images/icons.svg#icon-arrow-default"></use>
                        <use  width="50" height="15" href="./images/icons.svg#icon-arrow-hover"></use>
                        <use  width="50" height="15"href="./images/icons.svg#icon-arrow-focus"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>