<section class="section" id="products">
    <div class="container product-container">
        <p class="section__desc">100% natural</p>
        <h2 class="section__title" id="products">products</h2>
        <ul class="product">
            <li class="product__item product__item--green">
                <h3 class="product__title">ice cream</h3>
                <p class="product__desc product__desc--green-margin-b">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural
                    stabilizer</p>
                <button class="product-button open-modal js-open-modal" data-modal="products" type="button"
                    aria-label="icon-only button">
                    <svg class="product-icon" width="50" height="17" aria-label="arrow">
                        <use 
                            class="product-icons product-icons--default"
                            width="40"
                            height="15"
                            href="./images/icons.svg#icon-arrow-default"></use>
                        <use  
                            class="product-icons product-icons--hover"
                            width="50"
                            height="15"
                            href="./images/icons.svg#icon-arrow-hover"></use>
                        <use   
                            class="product-icons product-icons--focus"
                            width="50"
                            height="17"
                            href="./images/icons.svg#icon-arrow-focus"></use>
                    </svg>
                </button>
            </li>
            <li class="product__item product__item--orange">
                <h3 class="product__title">ice coffee</h3>
                <p class="product__desc product__desc--orange-margin-b">Fragrant invigorating drink created from 100% natural ingredients without the
                    use of preservatives and flavor enhancers</p>
                <button class="product-button open-modal js-open-modal" data-modal="products" type="button"
                    aria-label="icon-only button">
                    <svg class="product-icon" width="50" height="17" aria-label="arrow">
                        <use class="product-icons product-icons--default" width="40" height="15"
                            href="./images/icons.svg#icon-arrow-default"></use>
                        <use class="product-icons product-icons--hover" width="50" height="15"
                            href="./images/icons.svg#icon-arrow-hover"></use>
                        <use class="product-icons product-icons--focus" width="50" height="17"
                            href="./images/icons.svg#icon-arrow-focus"></use>
                    </svg>
                </button>
            </li>
            <li class="product__item product__item--brown">
                <h3 class="product__title">milkshakes</h3>
                <p class="product__desc product__desc--brown-margin-b">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits,
                    berries and other sweets of your choice</p>
                <button class="product-button open-modal js-open-modal" data-modal="products" type="button"
                    aria-label="icon-only button">
                    <svg class="product-icon" width="50" height="17" aria-label="arrow">
                        <use class="product-icons product-icons--default" width="40" height="15"
                            href="./images/icons.svg#icon-arrow-default"></use>
                        <use class="product-icons product-icons--hover" width="50" height="15"
                            href="./images/icons.svg#icon-arrow-hover"></use>
                        <use class="product-icons product-icons--focus" width="50" height="17"
                            href="./images/icons.svg#icon-arrow-focus"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>