// modal windows
/* Стилі Бекдропа */

.overlay {
  /* Ховаємо бекдроп */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: opacity 1200ms cubic-bezier(0.4, 0, 0.2, 1);

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

/* Стилі для всіх модальних вікон*/

.modal {
  /* Ховаємо вікно  */
  opacity: 0;
  visibility: hidden;

  width: 280px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0) rotateX(0deg);
  z-index: 30; /* повинен бути більше бекдропа*/
  text-align: center;
  padding: 28px;
  border: 2px solid var(--btn-color);
  border-radius: 10px;
  background-color: var(--secondary-text-color);
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 1s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 1s cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 568px;
    padding: 32px 60px;
  }

  &--other-paddings-40 {
    height: 990px;
    padding: 28px 20px;

    @media screen and (min-width: 768px) {
      height: 995px;
      padding: 32px 40px;
    }
  }

  &--other-paddings-54 {
    @media screen and (min-width: 768px) {
      padding-left: 54px;
      padding-right: 54px;
    }
  }

  &.active {
    opacity: 1;
    z-index: 1000;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1) rotateX(360deg);
  }
}

.height-95 {
  max-height: 90vh;
  overflow: scroll;
  overflow-x: hidden;
}
/* Стилі кнопки закриття */

.modal__cross {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 8px;
  right: 8px;
  fill: var(--primary-text-color);
  cursor: pointer;
  transition: fill 800ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
  }

  &:hover,
  &:focus {
    fill: #0a8817;
  }
}

// Стилі тексту описання
.modal__desc {
  margin-top: 20px;
  margin-bottom: 24px;
  text-align: left;
  font-size: 14px;
  line-height: calc(20 / 14);

  @media screen and (min-width: 768px) {
    margin-top: 24px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: calc(22 / 16);
  }

  &--nomargin {
    margin: 0;
  }
}

// Стилі iframe (Our Locations&About modals)
.modal__iframe {
  border: none;
  border-radius: 10px;
  margin-bottom: 24px;
  margin-top: 20px;

  width: 224px;
  height: 199px;

  @media screen and (min-width: 768px) {
    width: 448px;
    height: 260px;
    margin-bottom: 32px;
    margin-top: 32px;
  }
}

// Стилі заголовків
.modal__title {
  margin: 0 auto;
  text-align: center;
  font-family: 'Seymour One';
  font-size: 16px;
  line-height: calc(24 / 16);

  @media screen and(min-width:768px) {
    width: 322px;
    font-size: 20px;
    line-height: calc(28 / 20);
  }
}

.modal__map-button {
  padding: 12px 34px;
  display: inline-block;
  border-radius: 10px;

  color: var(--primary-text-color);
  background-color: var(--btn-color);

  transition: background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--green-color-btn);
  }
}

.ingr-form__wrap {
  position: relative;
  width: 132px;
  height: 132px;
  margin: 24px auto;
}
.ingr-form__box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 132px;
  height: 132px;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}
.ingr-form__img {
  position: absolute;
  border-radius: 50%;

  transform: translateY(-10px);
}
.ingr-form__group {
  display: flex;
  gap: 9px;
  justify-content: center;
  margin-bottom: 39px;

  @media screen and(min-width:768px) {
    margin-bottom: 48px;
    gap: 20px;
  }
}
.ingr-form__item {
  position: relative;
  min-width: 53px;
  min-height: 70px;
  padding-top: 50px;
  padding-bottom: 6px;

  text-align: center;
  border: 2px solid #9cbe8f;
  border-radius: 40px;

  font-size: 10px;
  line-height: calc(12 / 10);

  @media screen and(min-width:768px) {
    min-width: 65px;
    min-height: 90px;
    padding-top: 59px;
    padding-bottom: 12px;
    font-size: 12px;
    line-height: calc(15 / 12);
  }
}

.ingr-form__amount {
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 43px;
  height: 43px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9cbe8f;
  border: 2px solid #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  font-weight: 500;
  font-size: 10px;
  line-height: calc(28 / 10);

  @media screen and(min-width:768px) {
    width: 53px;
    height: 53px;
    font-size: 12px;
    line-height: calc(28 / 12);
  }
}

.ingr-form__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(28 / 20);

  text-align: center;
  margin-bottom: 24px;
}

.ingridients__names {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.ingridients__list {
  font-size: 14px;
  line-height: 176%;
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.04em;
}

// Стилі реєстраційної форми
.modal__label {
  @media screen and(min-width:768px) {
    display: flex;
    justify-content: center;
  }
}

.modal__input {
  width: 224px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  height: 32px;
  margin-bottom: 16px;
  padding: 8px 48px 7px 12px;

  @media screen and(min-width:768px) {
    margin-bottom: 12px;
    height: 42px;
    width: 368px;
  }
  &::placeholder {
    font-size: 12px;
    font-weight: 400;
    color: var(--primary-text-color);

    @media screen and(min-width:768px) {
      font-size: 14px;
    }
  }
}

.modal__textarea {
  width: 224px;
  height: 64px;
  outline: transparent;
  resize: none;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  margin-bottom: 24px;
  padding-left: 12px;
  padding-top: 8px;

  &::placeholder {
    font-size: 12px;
    font-weight: 400;
    color: var(--primary-text-color);
    @media screen and(min-width:768px) {
      font-size: 14px;
    }
  }

  @media screen and(min-width:768px) {
    margin-bottom: 32px;
    width: 368px;
    height: 84px;
    font-size: 14px;
  }
}

.modal__btn {
  margin: 0 auto;
  background: var(--btn-color);
  border-radius: 10px;
  border: none;
  width: 114px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  cursor: pointer;
  transition: background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and(min-width:768px) {
    font-size: 14px;
    line-height: calc(17 / 14);
    width: 121px;
  }
  &:hover,
  &:focus {
    background-color: var(--green-color-btn);
  }
}
