.gallery {
  position: relative;
  height: 940px;
  margin-top: 106px;

  background-color: fff;
  background-image: url(../images/gallery/gallery-bg@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/gallery/gallery-bg@2x.png);
  }

  &__list {
    position: absolute;
    top: -130px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    border-radius: 7px;
  }
}

// підключити в head
// <link
// rel="stylesheet"
// type="text/css"
// href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

// <link
// rel="stylesheet"
// type="text/css"
// href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

// Підключити в кіці body
// <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
