.gallery {
  max-width: 767px;
  height: 940px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: url(../images/gallery/gallery-bg@1x.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/gallery/gallery-bg@2x.png);
  }

  @media screen and (min-width: 768px) {
    margin: 0 auto;
    max-width: 1199px;
    height: 958px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    height: 1018px;
  }

  &__list {
    top: -24px;

    @media screen and (min-width: 768px) {
      top: -164px;
    }

    @media screen and (min-width: 1200px) {
      top: -94px;
    }
    // display: flex;
    // flex-direction: column;
    // align-items: center;
  }

  &__item {
    width: 100%;
  }

  &__img {
    overflow: hidden;
    margin: 0 auto;
    border-radius: 7px;
    width: 279px;

    @media screen and (min-width: 768px) {
      border-radius: 18px;
      width: 704px;
    }

    @media screen and (min-width: 1200px) {
      width: 1013px;
      border-radius: 24px;
    }
  }
}
