.header {
  &-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bac-color-green);
    border-bottom: solid var(--bac-color-green);

    @media screen and(min-width:1200px) {
      max-width: 1200px;
    }
  }
}

// nav-menu
.main-list {
  display: flex;
  flex-direction: row;
  gap: 27px;
}

.nav-link {
  display: block;
  color: var(--secondary-text-color);

  &:hover {
    color: var(--accent-color);
  }

  &:focus {
    color: #0A8817;
    text-decoration: underline;
  }

  &:disabled {
    color: var(--gray-color);
    text-decoration: underline;
  }
}

// logo-styles

.logo-tab,
.logo-mobile {
  opacity: 0;
}

.logo {
  .logo-mobile {
    width: 40px;
    height: 37px;
    opacity: 1;
  }

  .logo-desc,
  .logo-tab {
    opacity: 0;
  }
}

@media screen and (min-width: 768px) {
  .logo-tab {
    width: 48px;
    height: 44px;
    opacity: 1;
  }

  .logo-desc,
  .logo-mobile {
    opacity: 0;
  }
}

@media screen and (min-width:1200px) {
  .logo-desc {
    width: 40px;
    height: 37px;
    opacity: 1;
  }

  .logo-tab,
  .logo-mobile {
    opacity: 0;
  }
}


// button-header

.button-header {
  min-width: 152px;
  min-height: 42px;
  background-color: var(--accent-color);
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 12px 34px;
}

.btn-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  &:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    margin-left: 7px;
    // outline: 1px solid red;
    // background-image: url(./Frame-45.svg);
  }
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;

  .button-header {
    margin-left: 32px;
  }
}

.hidden-nav {
  @media screen and(max-width: 1200px) {
    display: none;
  }

  &-btn {
    @media screen and(max-width: 480px) {
      display: none;
    }
  }
}
