:root {
  --main-fonts: Montserrat, sans-serif;
  --secondary-fonts: Seymour One, sans-serif;

  --primary-text-color: #131313;
  --secondary-text-color: #fcfcfc;
  --bac-color-green: #84a178;
  --accent-color: #f8d24e;
}
